.more-user-component{
    display: flex;
    position:relative;
}

.more-user-component i {
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    position:absolute;
    right:-22px;
    top:9.8px;
    width:12px;
    height:12px;
    border-radius: 7px;
    border: 1.7px solid red;
    opacity:0.5;
}

.more-suggestions {
    margin-top:25px;
    border-top: var(--main-border);
    padding-top: 30px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display:flex;
    padding-bottom: 20px;
}

.more-suggestions__icon {
    margin-right: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.more-suggestions__icon-image{
    width : 60px;
    height : 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-bottom: 10px;
}
